<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/navbar.ejs") %>
    <h1>Contact</h1>
    <%- include("partials/paragraph.ejs") %> <%-
    include("partials/contact-form.ejs") %> <%- include("partials/footer.ejs")
    %>
    <script src="form.js"></script>
  </body>
</html>
