<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/navbar.ejs") %>
    <h1>Links</h1>
    <ul>
      <% for (let i = 0; i < links.length; i++) { %>
      <li><%=links[i].link%></li>
      <% } %>
    </ul>
    <%- include("partials/paragraph.ejs") %> <%- include("partials/footer.ejs")
    %>
  </body>
</html>
